# Bachelorproef proof of concept Gilles Ijsebaert

## Import packages

In [1]:
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation
import altair as alt                                # Alternative visualisation system

## Import all CSV data

In [57]:
idleRun1Coolify = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun1Coolify.csv', decimal='.', delimiter=',').set_index(['time'])

idleRun2Coolify = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun2Coolify.csv', decimal='.', delimiter=',').set_index(['time'])

idleRun3Coolify = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun3Coolify.csv', decimal='.', delimiter=',').set_index(['time'])

idleRunCoolify = pd.concat(map(pd.read_csv, ['https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun1Coolify.csv', 'https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun2Coolify.csv', 'https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun3Coolify.csv'])).set_index(['time'])

In [58]:
idleRun1OpenStack = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun1OpenStack.csv', decimal='.', delimiter=',').set_index(['time'])

idleRun2OpenStack = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun2OpenStack.csv', decimal='.', delimiter=',').set_index(['time'])

idleRun3OpenStack = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun3OpenStack.csv', decimal='.', delimiter=',').set_index(['time'])

idleRunOpenStack = pd.concat(map(pd.read_csv, ['https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun1OpenStack.csv', 'https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun2OpenStack.csv', 'https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/idleRun3OpenStack.csv'])).set_index(['time'])

In [130]:
instanceCreation1Coolify = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/instanceCreation1Coolify.csv', decimal='.', delimiter=',').set_index(['time'])

instanceCreation2Coolify = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/instanceCreation2Coolify.csv', decimal='.', delimiter=',').set_index(['time'])

instanceCreation3Coolify = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/instanceCreation3Coolify.csv', decimal='.', delimiter=',').set_index(['time'])

instanceCreationCoolify = pd.concat(map(pd.read_csv, ['https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/instanceCreation1Coolify.csv', 'https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/instanceCreation2Coolify.csv', 'https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/instanceCreation3Coolify.csv']))

In [118]:
instanceCreation1OpenStack = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/InstanceCreation1OpenStack.csv', decimal='.', delimiter=',').set_index(['time'])

instanceCreation2OpenStack = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/InstanceCreation2OpenStack.csv', decimal='.', delimiter=',').set_index(['time'])

instanceCreation3OpenStack = pd.read_csv('https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/InstanceCreation3OpenStack.csv', decimal='.', delimiter=',').set_index(['time'])

instanceCreationOpenStack = pd.concat(map(pd.read_csv, ['https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/InstanceCreation1OpenStack.csv', 'https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/InstanceCreation2OpenStack.csv', 'https://raw.githubusercontent.com/gijsebaert/bp-poc-GillesIjsebaert/main/results/InstanceCreation3OpenStack.csv'])).set_index(['time'])

## Data

In [142]:
idleRunCoolify['count'] = np.arange(idleRunCoolify.shape[0])
idleRunCoolify.head()
idleRunCoolify.set_index(['count'])

        pid  cpu  ram  process
count
0      7403  0.9  2.2  dockerd
1      7403  0.9  2.2  dockerd
2      7403  0.9  2.2  dockerd
3      7403  0.9  2.2  dockerd
4      7403  0.9  2.2  dockerd
...     ...  ...  ...      ...
554    7403  0.9  2.2  dockerd
555    7403  0.9  2.2  dockerd
556    7403  0.9  2.2  dockerd
557    7403  0.9  2.2  dockerd
558    7403  0.9  2.2  dockerd

[559 rows x 4 columns]

In [143]:
idleRunOpenStack['count'] = np.arange(idleRunOpenStack.shape[0])
idleRunOpenStack.head()
idleRunOpenStack.set_index(['count'])

         pid  cpu  ram process
count
0      67578  0.7  0.1    etcd
1      67578  0.7  0.1    etcd
2      67578  0.7  0.1    etcd
3      67578  0.7  0.1    etcd
4      67578  0.7  0.1    etcd
...      ...  ...  ...     ...
544    67578  0.7  0.2    etcd
545    67578  0.7  0.2    etcd
546    67578  0.7  0.2    etcd
547    67578  0.7  0.2    etcd
548    67578  0.7  0.2    etcd

[549 rows x 4 columns]

In [144]:
instanceCreationCoolify['count'] = np.arange(instanceCreationCoolify.shape[0])
instanceCreationCoolify.head()
instanceCreationCoolify.set_index(['count'])

           time    pid  cpu   ram process
count
0      14:48:53  19408  7.9  10.4  mysqld
1      14:48:54  19408  7.8  10.4  mysqld
2      14:48:55  19408  7.7  10.4  mysqld
3      14:48:56  19408  7.7  10.4  mysqld
4      14:48:57  19408  7.6  10.4  mysqld
...         ...    ...  ...   ...     ...
246    15:05:08  26291  1.9   9.9  mysqld
247    15:05:09  26291  1.8   9.9  mysqld
248    15:05:10  26291  1.8   9.9  mysqld
249    15:05:11  26291  1.8   9.9  mysqld
250    15:05:12  26291  1.8   9.9  mysqld

[251 rows x 5 columns]

In [145]:
instanceCreationOpenStack['count'] = np.arange(instanceCreationOpenStack.shape[0])
instanceCreationOpenStack.head()
instanceCreationOpenStack.set_index(['count'])

            pid   cpu  ram          process
count
0      138068.0  93.0  3.9  qemu-system-x86
1      138068.0  89.5  3.9  qemu-system-x86
2      138068.0  90.2  3.9  qemu-system-x86
3      138068.0  91.0  3.9  qemu-system-x86
4      138068.0  91.4  3.9  qemu-system-x86
...         ...   ...  ...              ...
559         NaN   NaN  NaN              NaN
560         NaN   NaN  NaN              NaN
561         NaN   NaN  NaN              NaN
562         NaN   NaN  NaN              NaN
563         NaN   NaN  NaN              NaN

[564 rows x 4 columns]

In [123]:
instanceCreationOpenStack.head()

#instanceCreationOpenStack['time'] = pd.to_datetime(instanceCreationOpenStack['time'], format='%H:%M:%S', errors='coerce', utc = True).dt.time

               pid   cpu  ram          process
time
13:57:37  138068.0  93.0  3.9  qemu-system-x86
13:57:38  138068.0  89.5  3.9  qemu-system-x86
13:57:39  138068.0  90.2  3.9  qemu-system-x86
13:57:40  138068.0  91.0  3.9  qemu-system-x86
13:57:41  138068.0  91.4  3.9  qemu-system-x86

In [81]:
print(f"CPU usage\n")

print(f"Coolify running idle")
print(f"mean : {idleRunCoolify['cpu'].mean()}")
print(f"std : {idleRunCoolify['cpu'].std()}")
print(f"max : {idleRunCoolify['cpu'].max()}")

print(f"Coolify running instance")
print(f"mean : {instanceCreationCoolify['cpu'].mean()}")
print(f"std : {instanceCreationCoolify['cpu'].std()}")
print(f"max : {instanceCreationCoolify['cpu'].max()}")

print(f"OpenStack running idle")
print(f"mean : {idleRunOpenStack['cpu'].mean()}")
print(f"std : {idleRunOpenStack['cpu'].std()}")
print(f"max : {idleRunOpenStack['cpu'].max()}")

print(f"OpenStack running instance")
print(f"mean : {instanceCreationOpenStack['cpu'].mean()}")
print(f"std : {instanceCreationOpenStack['cpu'].std()}")
print(f"max : {instanceCreationOpenStack['cpu'].max()}")

print(f"\n\nRAM usage\n")

print(f"Coolify running idle")
print(f"mean : {idleRunCoolify['ram'].mean()}")
print(f"std : {idleRunCoolify['ram'].std()}")
print(f"max : {idleRunCoolify['ram'].max()}")

print(f"Coolify running instance")
print(f"mean : {instanceCreationCoolify['ram'].mean()}")
print(f"std : {instanceCreationCoolify['ram'].std()}")
print(f"max : {instanceCreationCoolify['ram'].max()}")

print(f"OpenStack running idle")
print(f"mean : {idleRunOpenStack['ram'].mean()}")
print(f"std : {idleRunOpenStack['ram'].std()}")
print(f"max : {idleRunOpenStack['ram'].max()}")

print(f"OpenStack running instance")
print(f"mean : {instanceCreationOpenStack['ram'].mean()}")
print(f"std : {instanceCreationOpenStack['ram'].std()}")
print(f"max : {instanceCreationOpenStack['ram'].max()}")

CPU usage

Coolify running idle
mean : 0.9000000000000002
std : 2.2224348056268127e-16
max : 0.9
Coolify running instance
mean : 3.4653386454183273
std : 1.6435187205689377
max : 7.9
OpenStack running idle
mean : 0.7000000000000002
std : 2.222471080267863e-16
max : 0.7
OpenStack running instance
mean : 77.5617702448211
std : 31.813861163702523
max : 100.0


RAM usage

Coolify running idle
mean : 2.1999999999999997
std : 4.444869611253625e-16
max : 2.2
Coolify running instance
mean : 9.946613545816735
std : 0.5539119840333632
max : 10.4
OpenStack running idle
mean : 0.1814207650273224
std : 0.04852743605197608
max : 0.3
OpenStack running instance
mean : 7.389453860640302
std : 5.061422900394782
max : 14.9

In [102]:
instanceCreation3OpenStack['SMA3'] = instanceCreation3OpenStack['cpu'].rolling(3).mean()
instanceCreation3OpenStack['SMA5'] = instanceCreation3OpenStack['cpu'].rolling(5).mean()
instanceCreation3OpenStack['SMA10'] = instanceCreation3OpenStack['cpu'].rolling(10).mean()
instanceCreation3OpenStack

instanceCreation2OpenStack.plot(y=['cpu', 'SMA3',	'SMA5',	'SMA10'], figsize=[10,5])

KeyError: ignored